<div class="container">
    <div class="row">
      
      <div class="col-md-1">
        <img src="../../assets/imagenes/logo.JPG">
      </div>
      <div class="offset-md-8 col-md-1">
        <a class="nav-link active" href="#" [routerLink]="['']">Hotel</a>
      </div>
      <div class="col-md-1">
        <a class="nav-link" href="#" [routerLink]="['planes']">Planes</a>
      </div>
      
    </div>  
      <div class="row">
          <div class="banner-principal">
          </div>
          <div>
              <p>
                El Hotel Paradise es un hotel próximo al aeropuerto de Cartagena de Indias y al centro histórico, ideal para viajes de placer y de negocios.
                Nuestro moderno hotel le ofrece una completa estadía en la que encontrará habitaciones modernas y luminosas todas con vista al mar, además de wifi gratis, restaurante de cocina peruana a la carta, gimnasio, zonas húmedas, piscina, salones de eventos… todo para que se relaje o trabaje. Reserve con el mejor precio online en la web oficial del Paradise Corales de Indias.
              </p>
          </div>
        </div>
          <div class="row">
            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=93MJISRMkt4&ab_channel=HotelesenTV" allowfullscreen></iframe>
</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 interior">
                <img src="../../assets/imagenes/1.jpg" alt="">
            </div>
            <div class="col-md-4 interior">
                <img src="../../assets/imagenes/2.jpg" alt="">
            </div>
            <div class="col-md-4 interior">
                <img src="../../assets/imagenes/3.jpg" alt="">
            </div>
      </div>
      <div class="row">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
            <iframe src="https://maps.google.com/maps?q=bocagrande&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
      </div>
</div>  
