html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #00539F;
}

a {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: black;
}

img {
    display: block;
    margin: 0 auto;
}

img.mediana {
    width: 900px;
    height: 400px;
    align-content: center;
}

.banner-principal{
    background-image: url(../../assets/imagenes/1.1.jpg);
    height: 300px;
    width: 100%;
    background-size: 100%;
    background-position-y: -234px;
    margin: 8px 0px 38px 0px;
}
.interior{
    margin-top: 20px;
    margin-bottom: 30px;
}
.interior img{
    width: 100%;
}