<script src="./src/bootstrap-input-spinner.js"></script>
<script>
    $("input[type='number']").inputSpinner()
</script>
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <img src="../../assets/imagenes/logo.JPG">
        </div>
        <div class="offset-md-8 col-md-1">
            <a class="nav-link active" href="#" [routerLink]="['']">Hotel</a>
        </div>
        <div class="col-md-1">
            <a class="nav-link" href="#" [routerLink]="['planes']">Planes</a>
        </div>

    </div>
    <div  *ngFor="let habitacion of planes;let i=index" class="row ficha-habitacion">

        <div class="col-md-4">
            <img class="mediana" src="../../assets/imagenes/{{i}}.jpg">
        </div>
        <div class="col-md-4">
            <p>
                {{habitacion.descripcion}}
            </p>
        </div>
        <div class="col-md-4">

            <div>

                <p>
                    Adultos
                    <input class="form-control" type="number" value="2" min="1" [max]="habitacion.ocupacion_adultos_max"
                        [(ngModel)]="habitacion.Adultos" />
                </p>
            </div>
            <div>

                <p>
                    Niños
                    <input class="form-control" type="number" value="2" min="0" [max]="habitacion.ocupacion_ninos_max"
                        [(ngModel)]="habitacion.Ninos" />
                </p>
            </div>
            <button class="btn btn-warning" (click)="reservarHabitacion(habitacion)">
                Reservar 
            </button>
        </div>
    </div>

</div>