html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #00539F;
}

a {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: black;
}

img {
    display: block;
    margin: 0 auto;
}

img.mediana {
    width: 70%;
    align-content: center;
}
.ficha-habitacion{
    background: #f5f5f5;
    margin-top: 1em;
    padding: 2em;
}