html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #00539F;
}

a {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: black;
}
.alineacion-derecha{
    text-align: right;
}