<div class="container">
    <div class="row">
        <div class="col-md-1">
            <img src="../../assets/imagenes/logo.JPG">
        </div>
        <div class="offset-md-8 col-md-1">
            <a class="nav-link active" href="#" [routerLink]="['']">Hotel</a>
        </div>
        <div class="col-md-1">
            <a class="nav-link" href="#" [routerLink]="['planes']">Planes</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>
                RESUMEN DE TU RESERVA<br><br><br>
            </strong>
            <p>
                Hotel Paradise<br>
                Carrera 2 N° 62-190<br>
                Cartagena, Colombia<br><br><br>
                {{_reserva.habitacion.descripcion}}<br><br><br>
            </p>
            <div class="alineacion-derecha">
                <strong>
                    Total de la reserva<br><br><br>
                    $ {{_reserva.habitacion.precio}}
                </strong>
            </div>
        </div>
        <div class="col-md-6">
            <strong>
                DATOS DEL HUESPED
            </strong>
            <div class="row">
                <div class="col-md-6">
                    <p>Nombre*</p>
                    <input class="form-control" type="text" [(ngModel)]="nombre">
                    <p>Email*</p>
                    <input class="form-control" type="text" [(ngModel)]="correo">
                    <p>Telefono*</p>
                    <input class="form-control" type="text" [(ngModel)]="telefono">
                    <p>Fecha Ingreso*</p>
                    <input class="form-control" type="date" [(ngModel)]="fingreso">
                </div>
                <div class="col-md-6">
                    <p>Apellido*</p>
                    <input class="form-control" type="text" [(ngModel)]="apellido">
                    <p>Pais*</p>
                    <input class="form-control" type="text" [(ngModel)]="pais">
                    <p>Ciudad*</p>
                    <input class="form-control" type="text" [(ngModel)]="ciudad">
                    <p>Fecha Salida*</p>
                    <input class="form-control" type="date" [(ngModel)]="fsalida">
                </div>
                <div class="col-md-12">

                    <p>
                        Comentario
                    <p><br>
                        <textarea name="cli_comentario" rows="2" type="texto" maxlength="200" order="8" cols="70"
                            class="input-value form-control" [(ngModel)]="comentario"></textarea>
                    <p></p>
                    <button class="btn btn-warning" (click)="guardarReserva()">CONFIRMAR RESERVA</button>
                </div>

            </div>
        </div>
    </div>
</div>
<swal #mensajeGuardado>

</swal>